main {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(249, 246, 240);
}

@media (max-width: 900px) {
  .splash {
    height: 100vh;
    object-position: 50% 50%;
  }
}

@font-face {
  font-family: "nostalgia", serif;
  src: url("fonts/nostalgia-webfont.woff2") format("woff2");
}

body {
  background-color: rgb(249, 246, 240);
  line-height: 1.5;
}

h1 {
  text-align: center;
  font-family: "nostalgia", serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

h2 {
  text-align: center;
  font-family: "nostalgia", serif;
  margin-bottom: 0px;
  letter-spacing: 0.1rem;
}

h3 {
  text-align: center;
  font-family: "nostalgia", serif;
  letter-spacing: 0.1rem;
}

.img {
  max-width: 100%;
}

p {
  font-family: "Tiro Gurmukhi", serif;
  text-transform: none;
  padding: 10px;
  letter-spacing: 0.02rem;
}

.banner {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  z-index: 50;
}

header {
  display: flex;
  position: sticky;
  background: rgb(249, 246, 240);
  top: 0;
  padding: 1rem 2rem;
  list-style: none;
}

.portfolio-h1 {
  font-family: "nostalgia", serif;
  font-size: 40px;
  margin-top: 10px;
  letter-spacing: 0.2rem;
}
a {
  display: inline-block;
  width: 100px;
  height: 25px;
  text-align: center;
  align-items: center;
  font-family: "nostalgia", serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  overflow-x: auto;
}

a:hover {
  color: rgb(35, 27, 186);
}

.main-menu a {
  text-decoration: none;
  color: black;
  overflow: hidden;
  display: block;
  position: relative;
  padding: 0.2em 0;
}

.main-menu {
  text-decoration: none;
  list-style: none;
  gap: 2em;
  padding-block: 2rem;
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-family: "nostalgia", serif;
}

.main-menu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: rgb(35, 27, 186);
  opacity: 2;
  transition: opacity 300ms, transform 300ms;
  transform: translate3d(-100%, 0, 0);
}

.main-menu a:hover::after,
.main-menu a:focus::after {
  transform: translate3d(0, 0, 0);
}

@media (max-width: 900px) {
  .main-menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1em;
    flex-wrap: wrap;
  }

  .main-menu a {
    width: 80px;
  }
}

@media (max-width: 600px) {
  .main-menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1em;
  }

  .main-menu a {
    width: 50px;
  }
}

footer {
  font-family: "nostalgia", serif;
  text-align: center;
  position: sticky;
  top: 100vh;
  max-width: none;
  padding: 10px;
  letter-spacing: 0.02rem;
}

/* home */

.splash {
  background-image: url(img/splash.webp);
  height: 100vh;
  background-position: cover;
  max-width: 100%;
}

/* Projekter begynder her */

.cv {
  display: grid;
  grid-template-columns: 1fr 2fr auto 2fr 1fr;
  gap: 2rem;
}

.cv-tekst {
  font-family: "nostalgia", serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}

div {
  font-family: "Tiro Gurmukhi", serif;
  letter-spacing: 0.02rem;
}

.cv-flex-border {
  border-right: solid;
}

.cv-flex {
  display: flex;
  flex-direction: column;
}

.portraet {
  margin-top: 3.6rem;
}

.uddannelse {
  margin-top: 1rem;
}

.stilk {
  max-width: 100%;
  margin-top: 200px;
}

.om-mig {
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .cv {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem;
  }

  .stilk {
    max-height: 300px;
    margin-top: 0%;
  }

  .om-mig {
    margin: 1rem;
  }
}

/* 02 WEB */

.splashimg {
  margin-bottom: 1rem;
}

.web-container {
  margin: 1rem;
  margin-top: 6rem;
}

.grid-web {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 1.5rem;
}

.grid-web2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.grid-web2 img {
  align-self: stretch;
  object-fit: cover;
}

.image {
  max-width: 100%;
}

.splash_web {
  background-size: cover;
  margin-bottom: 2rem;
  max-width: 100%;
  grid-column: 1 / span 2;
}

.image1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.image2 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}
.image3 {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
}
.image4 {
  grid-column: 3 / span 2;
  grid-row: 2 / span 1;
}
.image5 {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}
.image6 {
  grid-column: 2 / span 3;
  grid-row: 3 / span 1;
}

.web2 {
  width: 100%;
}

@media (max-width: 600px) {
  .grid-web {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .grid-web2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .web-container {
    margin: auto;
  }
}

/* 03 UX */

.container-produkter {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  gap: 1rem;
  max-height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-inline: 8px;
}

.pre-btn,
.nxt-btn {
  display: inline-block;
  border: none;
  width: 2%;
  height: 10%;
  background: none;
  cursor: pointer;
}

.pre-btn {
  transform: rotateY(180deg);
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.3;
  width: 100%;
  vertical-align: top;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 0.8;
}

.produkt {
  width: auto;
  max-height: 250px;
}

.ux-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.img10 {
  max-height: 400px;
  margin-left: 160px;
}

figcaption {
  font-weight: 800;
  text-align: center;
  font-size: 20px;
  font-family: "nostalgia", serif;
}

.ux-col {
  display: flex;
  gap: 2rem;
}

.ux-container {
  margin-top: 35px;
}

.link2 {
  margin-left: 15rem;
}

@media (max-width: 600px) {
  .ux-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .container-produkter {
    display: flex;
    max-width: 200px;
    flex-direction: column;
    margin-left: 5rem;
    gap: 1rem;
  }

  .img10 {
    max-height: 100%;
    margin-left: 8%;
  }
  .ux-container {
    margin-top: 0px;
  }

  .link2 {
    margin-left: 8rem;
  }
}

/* 04 Animation */

.grid-animation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.animation-flex {
  display: flex;
  flex-direction: column;
}

.animation-flex :last-child {
  margin-top: auto;
}

.ideen {
  grid-column: 1 / span 3;
}

.spillet {
  grid-column: 1 / span 3;
}

@media (max-width: 600px) {
  .grid-animation {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

/* 05 */

.image {
  max-width: 100%;
  min-width: 108.276px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-left: 20px;
}

.gallery-flex {
  display: flex;
  justify-content: center;
}

.grid-design {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.design-flex {
  display: flex;
  flex-direction: column;
}
.redesign {
  grid-column: 1 / span 3;
}

.grid-hjemmeside {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem;
  gap: 1rem;
}

.oprindelige {
  grid-column: 1;
}

.redesign {
  grid-column: 2;
}

.grid-wireframe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.flagranke {
  height: auto;
  max-width: 100%;
  margin-bottom: 1rem;
}

.link-hjemmeside {
  margin-left: 45%;
  margin-top: 25%;
}

@media (max-width: 600px) {
  .grid-design {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .grid-hjemmeside {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .grid-wireframe {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .link-hjemmeside {
    margin-left: 7.5rem;
    margin-top: 1rem;
  }
}

/* VIDEO */
video {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
  aspect-ratio: 16 / 9;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

/* 06 */

.portfolio-grid {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.link {
  margin-left: 15.5rem;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .portfolio-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .link {
    margin-left: 8.5rem;
    margin-bottom: 2rem;
  }
}
